body {
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

@media (min-width: 320px) {
    
}