/* ============================
   GLOBAL LAYOUT
============================ */

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header, main, footer {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ============================
   GLOBAL TABLE STYLES
============================ */

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
}

th {
    background-color: #f4f4f4;
}