body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.at-bat-cell {
    width: 30px;
    height: 30px;
}