body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

/* Makes the inputs look like part of the table */
#lineup-body input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}

.input-large { width: 150px !important; text-align: left !important; }
.input-small { width: 40px !important; }
.at-bat-input { width: 30px !important; }

/* Optional: add a light border on focus so you know which cell you're in */
#lineup-body input:focus {
    outline: 1px solid #007bff;
    background-color: #f0f8ff;
}

.at-bat-cell {
    width: 30px;
    height: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

@media (min-width: 320px) {
    
}